h1{
    padding: 10px;
}

.cell h1 {
    font-size: 25px;
    display: block;
    align-items: center;
    padding: 20px 0;
}


.prew_text {
    padding: 6px;
    font-size: 25px;
}

.portfolio{
    padding: 20px 0;
}
.preview{
    width: 100%;
    height: 80%;
    background-size: cover;
    background-position: top center;
}

.cell:hover{
    cursor: pointer;
    filter: brightness(50%);
}

.grid{
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
}

.cell{
    min-height: 260px;
    padding: 0px 0px 20px 0px;
    border: 1px solid white;
    position: relative;
    z-index: 1;
    transition-duration: 0.4s;
}
.cell_text{
    align-content: center;
    min-height: 260px;
    padding: 0px 0px 20px 0px;
    border: 1px solid white;
    position: relative;
}