

.buttons_tab {
    padding: 40px 0;
    justify-content: center;
}   

.list{
    display: list-item;
}

.list_item{
    display: list-item;   
    text-align: left;
    list-style-type: disc;
    margin: 0px 30px;
    font-size: 20px;
}

.exp{
    padding: 20px 0 0 0;
}


p{
    padding: 0 0 5px 0;
    font-size: 20px;
}

.sub_caption{
    text-align: left;
}

.sub_caption h1 {
    font-size: 40px;
    padding: 0;
}

.two_cap{
    display: flexbox;
}