*{
    margin: 0;
    padding: 0;
}

.links{
    display: flex;
    gap: 20px;
    font-weight: 5;
    padding-right: 20px;
}

.logo {
    font-size: 30px;
    padding-left: 20px;
    color: white;
}

.navigation{
    align-items: center;
    width: 100%;
    padding: 0;
    margin-left: 0px;
    z-index: 2;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #180e1c;
    box-shadow: 0px 0px 8px rgba(32, 0, 0, 0.1);

}


