*{
    margin: 0;
    padding: 0;
}

.links{
    display: flex;
    gap: 20px;
    font-weight: 5;
}

span {
    font-size: 30px;
}

.navigation{
    font-weight: 200;
    display: flex;
    justify-content: space-between;
}


