*{
    margin: 0;
    padding: 0;
}

.links{
    display: flex;
    gap: 20px;
    font-weight: 5;
}

span {
    font-size: 30px;
}

.navigation{

    align-items: center;
    justify-content: center;
    left: 0;
    z-index: 2;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    background-color: #180e1c;
    box-shadow: 0px 0px 8px rgba(32, 0, 0, 0.1);
}

.hide{
    display: none;
}


