*{
    margin: 0;
    padding: 0;
}

.links{
    display: flex;
    gap: 20px;
    font-weight: 5;

}

.links a{
    transition-duration: 0.3s;
}

.links a:hover{
    color:#8d62c4;
}

span {
    font-size: 30px;
}

.navigation{
    padding: 0 50px;
    position: fixed;
    width: -webkit-fill-available;
    left: 0;
    z-index: 2;
    font-weight: 200;
    background-color: #180e1c;
    box-shadow: 0px 0px 8px #8d62c49b;
}

.anchors{
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hide{
    display: none;
}


