:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  // line-height: 1.5;
  font-weight: 400;
  background-color: #180e1c;
  color: #ffffff;
}

a {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

ul li {
  display: block;
  padding: 15px;
}

ul{
  display: flex;
  justify-content: flex-end;
}